---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Atölye Hakkında"
	description="Hakkımızda Hayırlısı"
	pubDate={new Date('March 21 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		Hadi yazalım, başka yazan yok mu  diye başlayan cılız bir çağrıydı aslında! Hamburg’da yazmayı sevenler olarak bir araya gelmek çok güzel. Yazarken birbirimizi teşvik ettiğimiz, yazı deneyimlerimizi paylaştığımız gönüllü bir topluluk kurduk. Yeteneklerimizi birleştirip hem teknik anlamda hem de zorlu yazma süreçlerinde birbirimize destek oluyoruz.  İlhamı beklemiyor, ilhamı yaratıyoruz. 


	</p>

	<blockquote>
		<p>"Hayat hiç kimsenin yazmasını istemez. Hayat herkesin yataktan sabahları kalktığı, kravat ve takım elbise giydiği, dokuzda başlayıp beşte biten bir işe gittiği, akşam televizyon karşısında karpuz çekirdekleri ayıkladığı ve böyle mutlu olduğuna inandığı bir yaşam sürmesini ister."</p>
		<footer>— <cite>Nihan Kaya, Yazma Cesareti</cite></footer>
	  </blockquote>

	
	<p>
		Yazmaya cesaret edebilenlerin buluştuğu bir platform Hamburg Yaratıcı Yazı Atölyesi!
	</p>

	<p>
		Sen de belki  yazmak istiyorsun ama uzun süredir  yazamıyorsun. Belki de ne yazacağım diye kara kara düşünüyorsun. Belki de ‘yazacak birşey yok hepsi zaten yazıldı’ diyorsun. Belki devamlı olarak yazıyorsun ama yazdıklarını paylaşmaktan çekiniyorsun. İyi yazıyor musun, yazıların okunur mu bilmiyorsun? Ama merak ediyorsun. Yalnız değilsin! O yola çıkış gerçekleşmiştir. Varacağın bir yerin olmayışıdır yazmak. Yine de yazarsın. Asıl soru “Kimse okumayacak olsa bile yazar mıydın?” olur. İşte YYA olarak bu soruları birlikte soruyoruz.
	</p>

	<p>
		Aramızda yazar olanlar, yazmakta olanlar, yazmak isteyenler, yazı rutini oluşturmak isteyenler ve yazmak istiyorum ama sürekli erteliyorum diyenler var. 
	</p>

	<p>
		Hamburg’da yazmaya meraklı insanlar olarak biraraya geliyoruz. Kendimize yazmak için zaman ve mekan yaratıyoruz. Yaratıcı Yazı Atölyesi hep orada, yazmak isteyen kalemini, defterini, klavyesini alıp geliyor;  yazamayan hayat telaşesinde.
	</p>

	<p>
		Atölyemizde sana da yer var! ‘Neden yazıyorum?’ diye sor kendine  ve sen de başla yazmaya.
	</p>

	<p>
		<a href="mailto:yya.hamburg@gmail.com">yya.hamburg@gmail.com</a> E-Mail adresinden bize ulaşabilirsin.
	</p>
</Layout>
