---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { Image } from 'astro:assets';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import img_placeholder1 from '../assets/blog-placeholder-1.jpg';
import img_placeholder2 from '../assets/blog-placeholder-2.jpg';
import img_placeholder3 from '../assets/blog-placeholder-3.jpg';
import img_placeholder4 from '../assets/blog-placeholder-4.jpg';
import img_placeholder5 from '../assets/blog-placeholder-5.jpg';

const images = {
  img_placeholder1,
  img_placeholder2,
  img_placeholder3,
  img_placeholder4,
  img_placeholder5,
};
import Yorumlar from '../components/yorumlar.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>👋 Merhaba</h1>
			<p>
				Hamburg Yaratıcı Yazı Atölyesi'nin websitesine hoşgeldiniz...
			</p>
			<p>
				Buradan atölyemiz ile ilgili en güncel duyurulara ulaşabilir, katılımcılarımızın
				atölye çalısmaları esnasında paylaştığı yazıları okuyabilir ya da önerdiğimiz 
				kaynaklara göz atabilirsiniz.
			</p>
			<ul>
				<li>📰 Güncel haber ve duyurular</li>
				<li>✍️ Katılımcılarımızın paylaştığı yazılar</li>
				<li>📖 Önerdiğimiz kaynaklar</li>
				<li>✉️ İletişim ve toplantı takvimi</li>
			</ul>
			<p>
				Atölyemize katılmak ya da daha fazla bilgi almak için bizimle <a href="mailto:yya.hamburg@gmail.com">yya.hamburg@gmail.com</a> adresinden iletişime geçebilirsiniz.
			</p>
			<hr /> <Yorumlar />
		</main>
		<Footer />
	</body>
</html>
