---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>👋 Merhaba</h1>
			<p>
				Hamburg Yaratıcı Yazı Atölyesi'nin websitesine hoşgeldiniz...
			</p>
			<p>
				Buradan atölyemiz ile ilgili en güncel duyurulara ulaşabilir, katılımcılarımızın
				atölye çalısmaları esnasında paylaştığı yazıları okuyabilir ya da önerdiğimiz 
				kaynaklara göz atabilirsiniz.
			</p>
			<ul>
				<li>📰 Güncel haber ve duyurular</li>
				<li>✍️ Katılımcılarımızın paylaştığı yazılar</li>
				<li>📖 Önerdiğimiz kaynaklar</li>
				<li>✉️ İletişim ve toplantı takvimi</li>
			</ul>
			<p>
				Atölyemize katılmak ya da daha fazla bilgi almak için bizimle <a href="mailto:yya.hamburg@gmail.com">yya.hamburg@gmail.com</a> adresinden iletişime geçebilirsiniz.
			</p>
		</main>
		<Footer />
	</body>
</html>
